---
import GitHubSponsor from "./GitHubSponsor.astro";
import StackExchangeFlair from "./StackExchangeFlair.astro";
import RecentPosts from "./RecentPosts.astro";
import MvpAwards from "./MvpAwards.astro";
---

<div class="flex flex-col gap-8">
  <GitHubSponsor />
  <StackExchangeFlair />
  <RecentPosts />
  <MvpAwards />
</div>
